@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    
}

#title {
    background: yellow;
    margin:auto;
    margin-top:100px;
    margin-right:100px;
    margin-bottom:25px;
    margin-left:100px;
    padding: 25px 50px 25px 50px;
    
}

#subtitle {
    background: black;
    color: white;
    margin:auto;
    margin-right:100px;
    margin-left:100px;
    margin-bottom:75px;
    padding: 0px 50px 0px 50px;
    
}

.topic {
    background: lightgray;
    margin-left:100px;
    margin-right:0px;
    
}

